* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(211, 195, 195);
    position: absolute;
    top: 0;
    width: 100%;
}

nav>ul {
    width: 100%;
    height: 2rem;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 1rem;
}

.ul_menu>li>a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 15px 10px 4px 8px
}

.ul_menu>li>a:hover {
    background-color: rgb(240, 240, 240);
}

nav>ul>li:hover .sous_menu {
    visibility: visible;
}

.sous_menu {
    margin-top: 3px;
    list-style-type: none;
    background-color: rgb(245, 245, 245);
    width: 100px;
    visibility: hidden;
}

.sous_menu>li>a {
    text-decoration: none;
    color: black;
    padding: 5px 0px 2px 5px;
    display: block;
}

.sous_menu>li>a:hover {
    background-color: rgb(194, 186, 186);
}

.sous_menu>li {
    padding-bottom: 1rem;
}